code {
	font-size: 0.85em !important;
	letter-spacing: normal;
}
p code {
	font-size: 0.72em !important;
}
pre code {
	font-size: 0.75em !important;
}
li code {
	font-size: 0.85em !important;
}

.break-code code {
	white-space: normal;
}
