code {
	font-size: 0.85em !important;
	letter-spacing: normal;
}
p code {
	font-size: 0.72em !important;
}
pre code {
	font-size: 0.75em !important;
}
li code {
	font-size: 0.85em !important;
}

.break-code code {
	white-space: normal;
}


.resource-resolution-properties li code {
	font-size: 0.75em !important;
}

.imageblock.text-center .title {
	text-align: center;
}

.no-callout .conum,
.no-callout .conum + b,
.no-callout + .colist {
	display: none;
}


h1[id]:before, h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before, h6[id]:before, a[name]:before {
	position: absolute;
	z-index: -1;
}


.coming-soon {
	font-weight: normal;
}
.coming-soon::after {
	content: " (coming soon)";
	color: #777;
}


.code-once-diagram img {
	height: 370px;
}