.resource-resolution-properties li code {
	font-size: 0.8em !important;
}

.imageblock.text-center .title {
	text-align: center;
}

.no-callout .conum,
.no-callout .conum + b,
.no-callout + .colist {
	display: none !important;
}


.coming-soon {
	font-weight: normal;
}
.coming-soon::after {
	content: " (coming soon)";
	color: #777;
}


.exampleblock.prevent-overflow > .content {
	overflow: auto;
	background: none;
	border: none;
	box-shadow: none;
	maring: 0;
	padding: 0;
	border-radius: none;
}

#toc.toc2 ul ul.sectlevel3 {
	font-size: 0.8em;
}

h3,
h4,
h5,
h6 {
	position: sticky;
	top: 0;
	z-index: 10;
	background: white;
}
h4,
h5,
h6 {
	padding-bottom: 0.4em;
}
h6 {
	top: 2em;
	padding-right: 20px;
}

.paragraph p {
	text-align: justify;
}

