.highlight-line {
	background-color: #F3FCB9;
}

.highlight-line-irrelevant {
	opacity: 0.5;
}
.highlight-line-irrelevant:hover {
	opacity: 1;
}

.highlight-line-diff-add,
.highlight-line-diff-remove,
.highlight-line-info,
.highlight-line-warn,
.highlight-line-error {
	position: relative;
	display: inline-block;
	width: 100%;
}
.highlight-line-info .wrapped-line,
.highlight-line-warn .wrapped-line,
.highlight-line-error .wrapped-line {
	background-position: 52% 100%;
	background-repeat: repeat-x;
}
.highlight-line-diff-add .wrapped-line {
	background-color: #7BBF6A;
}
.highlight-line-diff-remove .wrapped-line {
	text-decoration: line-through;
}
.highlight-line-info .wrapped-line {
	background-image: url('../../images/sourcecode/waveline-blue.gif');
}
.highlight-line-warn .wrapped-line {
	background-image: url('../../images/sourcecode/waveline-orange.gif');
}
.highlight-line-error .wrapped-line {
	background-image: url('../../images/sourcecode/waveline-red.gif');
}


.highlight-line-diff-add:before,
.highlight-line-diff-remove:before,
.highlight-line-info:before,
.highlight-line-warn:before,
.highlight-line-error:before {
	content: "";
	position: absolute;
	right: 0;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	width: 16px;
	height: 16px;
}
.highlight-line-diff-add:before {
	background-image: url('../../images/sourcecode/plus.png');
}
.highlight-line-diff-remove:before {
	background-image: url('../../images/sourcecode/minus.png');
}
.highlight-line-info:before {
	background-image: url('../../images/sourcecode/info.png');
}
.highlight-line-warn:before {
	background-image: url('../../images/sourcecode/warning.png');
}
.highlight-line-error:before {
	background-image: url('../../images/sourcecode/error.png');
}


