<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Demystifying Email Design</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body id="body_2a02_0" style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tbody>
			<tr>
				<td id="td_2a02_0" style="padding: 10px 0 30px 0;">
					<table align="center" border="0" cellpadding="0" cellspacing="0"
						width="600" id="table_2a02_0"
						style="border: 1px solid #cccccc; border-collapse: collapse;">
						<tbody>
							<tr>
								<td align="center" bgcolor="#70bbd9" id="td_2a02_1"
									style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
									<img src="cid:h1.gif" alt="Creating Email Magic" width="300"
									height="230" style="display: block;" />
								</td>
							</tr>
							<tr>
								<td bgcolor="#ffffff" id="td_2a02_2"
									style="padding: 40px 30px 40px 30px;">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td id="td_2a02_3"
													style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
													<b>foo</b>
												</td>
											</tr>
											<tr>
												<td id="td_2a02_4" class="paragraph"
													style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
													42</td>
											</tr>
											<tr>
												<td>
													<table border="0" cellpadding="0" cellspacing="0"
														width="100%">
														<tbody>
															<tr>
																<td width="260" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%">
																		<tbody>
																			<tr>
																				<td><img src="cid:left.gif" alt=""
																					width="100%" height="140" style="display: block;" />
																				</td>
																			</tr>
																			<tr>
																				<td class="paragraph"
																					style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
																					Lorem ipsum dolor sit amet, consectetur adipiscing
																					elit. In tempus adipiscing felis, sit amet blandit
																					ipsum volutpat sed. Morbi porttitor, eget accumsan
																					dictum, nisi libero ultricies ipsum, in posuere
																					mauris neque at erat.</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
																<td id="td_2a02_6" style="font-size: 0; line-height: 0;"
																	width="20">&nbsp;</td>
																<td width="260" valign="top">
																	<table border="0" cellpadding="0" cellspacing="0"
																		width="100%">
																		<tbody>
																			<tr>
																				<td><img src="cid:right1.gif" alt=""
																					width="100%" height="140" style="display: block;" />
																				</td>
																			</tr>
																			<tr>
																				<td class="paragraph"
																					style="padding: 25px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
																					Lorem ipsum dolor sit amet, consectetur adipiscing
																					elit. In tempus adipiscing felis, sit amet blandit
																					ipsum volutpat sed. Morbi porttitor, eget accumsan
																					dictum, nisi libero ultricies ipsum, in posuere
																					mauris neque at erat.</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td bgcolor="#ee4c50" id="td_2a02_8"
									style="padding: 30px 30px 30px 30px;">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody>
											<tr>
												<td id="td_2a02_9" class="white"
													style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"
													width="75%">&reg; Someone, somewhere 2013<br /> <a
													href="#" id="a_2a02_0" class="white"
													style="color: #ffffff;"><font color="#ffffff">Unsubscribe</font></a>
													to this newsletter instantly
												</td>
												<td align="right" width="25%">
													<table border="0" cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td class="link"
																	style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
																	<a href="http://www.twitter.com/" class="white"
																	style="color: #ffffff;"> <img src="cid:tw.gif"
																		alt="Twitter" width="38" height="38"
																		style="display: block;" border="0" />
																</a>
																</td>
																<td id="td_2a02_11"
																	style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
																<td class="link"
																	style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
																	<a href="http://www.twitter.com/" class="white"
																	style="color: #ffffff;"> <img src="cid:fb.gif"
																		alt="Facebook" width="38" height="38"
																		style="display: block;" border="0" />
																</a>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>