.collapsed .collapsed-text {
	display: none;
}

.collapsed.closed {
	position: relative;
	display: block;
	height: 24px;
	background: white url('../../images/sourcecode/collapsed-bg.png') repeat-x;
	cursor: pointer;
}

.collapsed.closed:before {
	content: "";
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	background: url('../../images/sourcecode/uncollapse.png') center center no-repeat;
	top: 4px;
	left: 4px;
}

.collapsed.closed .collapsed-text {
	display: inline-block;
	height: 24px;
	margin-left: 24px;
}

.collapsed.closed .collapsed-lines {
	display: none;
}

