<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inline resources</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link href="css/background-images.css" rel="stylesheet" />

</head>
<body>
	<div class="header">
		<img class="logo" src="images/h1.gif" />
	</div>
	<div class="footer">
		footer
		<img class="fb" src="images/fb.gif" data-inline-image="base64" />
	</div>
</body>
</html>