#body_2a02_0{margin: 0; padding: 0;}
#td_2a02_0{padding: 10px 0 30px 0;}
#table_2a02_0{border: 1px solid #cccccc; border-collapse: collapse;}
#td_2a02_1{padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;}
img {display: block;}

.name {
	color: red;
	font-weight: bold;
	font-size: 20pt;
}

.value {
	color: blue;
	font-size: 18pt;
}