pre>code {
	width: max-content;
}
.admonitionblock>table {
	table-layout: fixed;
}

.resource-resolution-properties li code {
	font-size: 0.8em !important;
}

.imageblock.text-center .title {
	text-align: center;
}

.no-callout .conum,
.no-callout .conum + b,
.no-callout + .colist {
	display: none !important;
}


.coming-soon {
	font-weight: normal;

	&::after {
		content: " (coming soon)";
		color: #777;
	}
}


.exampleblock.prevent-overflow > .content {
	overflow: auto;
	background: none;
	border: none;
	box-shadow: none;
	maring: 0;
	padding: 0;
	border-radius: none;
}

#toc.toc2 ul ul.sectlevel3 {
	font-size: 0.8em;
}

.paragraph p {
	text-align: justify;
}

.exampleblock.TODO {
	.content::before {
		content: "TODO: document";
		display: block;
		font-weight: bold;
		margin-bottom: 10px;
	}
	> .content {
		background: #fff3d4;
	}
	li p {
		margin: 0;
	}
}

video {
	width: 100%;
}
.iframe-container {
	overflow: hidden;
	padding-top: 75%;
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border: none;
	}
}
button.fullscreen {
	display: block;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}