.page-user-manual {
	@extend .toc2;
	
	#toc {
		@extend #toc, .toc2;
		
		top: 58px;
		height: auto;
		bottom: 0;
	}
}

@media only screen and (min-width: 768px) {
	.page-user-manual #toc {
		ul {
			font-size: .92em;
		}
	}
}
