& {
	@extend .toc2;
	
	#toc {
		@extend #toc, .toc2;
		
		top: $navbar-height;
		height: auto;
		bottom: 0;
	}

	table caption {
		caption-side: top;
	}
}

@media only screen and (min-width: 768px) {
	& #toc {
		ul {
			font-size: .92em;
		}
	}
}
