body {
	margin: 10px auto 30px auto;
	width: 600px;
}

header {
	padding: 40px 30px;
}

header img {
	display: block;
	margin: auto;
}


.content {
	padding: 40px 30px;
}

.left,
.right {
	width: 250px;
	display: inline-block;
}

.left {
	margin-right: 36px;
}

footer {
	padding: 30px;
}

footer .sender-info,
footer .social {
	text-align: center;
}
footer .social a {
	display: inline-block;
}
footer .sender-info {
	margin-top: 20px;
}
