.steps {
	margin-top: 120px;
	text-align: center;
}

.total-steps2 {
	padding-left: 280px;
	padding-right: 280px;
}
.total-steps3 {
	padding-left: 240px;
	padding-right: 240px;
}
.total-steps4 {
	padding-left: 200px;
	padding-right: 200px;
}
.total-steps5 {
	padding-left: 160px;
	padding-right: 160px;
}
.total-steps6 {
	padding-left: 120px;
	padding-right: 120px;
}
.total-steps7 {
	padding-left: 80px;
	padding-right: 80px;
}
.total-steps8 {
	padding-left: 40px;
	padding-right: 40px;
}
.total-steps9 {
	padding-left: 20px;
	padding-right: 20px;
}

.steps-current p {
	display: none;
}

.steps .progressbar {
	position: relative;
	margin-top: 50px;
	margin-bottom: 120px;
	overflow: visible;
	background: black;
	height: 10px;
	display: block;
	border-radius: 20px;
}
.steps .progress {
	position: absolute;
	height: 10px;
	background: #E31E32;
}

.steps a {
	display: block;
	font-size: 0;
	color: transparent;
	width: 26px;
	height: 26px;
	/* margin-left: 50px; */
	/* margin-right: 50px; */
	background: #E31E32;
	position: absolute;
	top: -8px;
	border-radius: 13px;
	left: -75px;
	margin-left: -10px;
}

.steps a:last-child {
	margin-right: -100px;
}

.steps a.current ~ a {
	background: black;
}
.steps a:hover {
	background: #E31E32 !important;
}

.steps a.current:before {
	content: "";
	position: absolute;
	top: -39px;
	left: 7px;
	width: 42px;
	height: 42px;
	background: url("../images/steps/flag.png") center bottom no-repeat;
}

.steps a:after {
	content: attr(title);
	position: absolute;
	top: 30px;
	left: -18px;
	width: 60px;
	font-size: 12px;
	z-index: 100;
	color: #333;
	display: block;
	border-radius: 5px;
}
.steps a:hover {
	background: #E31E32;
}
