
h1,
h2,
h3,
#toctitle,
.sidebarblock > .content > .title,
h4,
h5,
h6 {
	font-family: $headings-font-family;
}

// add space between sections
h2 {
	margin-top: 4rem;
	@include doc-title-fix-anchor(4rem);
}
h3 {
	margin-top: 3rem;
	@include doc-title-fix-anchor(3rem);
}
h4 {
	margin-top: 2rem;
	@include doc-title-fix-anchor(2rem);
}
h5,
h6 {
	margin-top: 1rem;
	@include doc-title-fix-anchor(1rem);
}

// remove space for titles following a title
h2 {
	@include doc-title-adjacent-margin(2);
}
h3 {
	@include doc-title-adjacent-margin(3);
}
h4 {
	@include doc-title-adjacent-margin(4);
	padding-bottom: 0.4em;
}
h5 {
	@include doc-title-adjacent-margin(5);
	padding-bottom: 0.4em;
}
h6 {
	@include doc-title-adjacent-margin(6);
	font-size: 1.1rem;
	padding-bottom: 0.4em;
	padding-right: 20px;
}

// restore hover to display anchor
// and fix anchor position
.main-body {
	h2[id], h3[id], h4[id] {
		&,
		& > a.anchor {
			pointer-events: auto;
		}
		&::before {
			height: 0;
			margin-top: 0;
		}
	}
}


// sticky position offset due to header
h3,
h4,
h5 {
	top: $navbar-height;
}
h6 {
	top: calc(#{$navbar-height} + 2.1em);
}
.on-top:target + * {
	margin-top: $navbar-height + 20px; 
}

