$banner-height: 400px;
$banner-bg-size: 400px;
$banner-bg-color: #282c34;
$banner-text-color: $gray-100;
$banner-brand-color: $white;
$banner-lead-font-size: 1.5rem;
$banner-margin-bottom: 30px;

$hero-belief-color: $info !default;
$hero-belief-font-size: 2rem;

$index-benefit-spacing: 10px;
$index-code-samples-spacing: 10px;

$navbar-height: 64px;