$hero-height: 400px;
$hero-bg-size: 400px;
$hero-bg-color: #282c34;
$hero-text-color: $gray-100;
$hero-brand-color: $white;
$hero-lead-font-size: 1.5rem;
$hero-belief-color: $info !default;
$hero-belief-font-size: 2rem;

$index-benefit-spacing: 10px;
$index-code-samples-spacing: 10px;

$navbar-height: 64px;