strong[class^="progress:"] {
	display: block;
	margin-top: 10px;
	font-weight: normal;
	max-width: 300px;
	margin: auto;
}

strong[class^="progress:"] .progress {
	margin-bottom: 15px;
}

[class^="progress:0"] .progress .progress-bar {
	font-size: 0;
	color: transparent;
}
[class^="progress:0"] .progress::after {
	content: "Not started";
	display: block;
	width: 100%;
	color: #999;
	text-align: center;
}
