.tab-container {
	position: relative;
	clear: both;
	margin: 25px 0;
	max-height: 900px;
}

.tab-container.no-max-height {
	max-height: none;
}

.tab-container>p:first-child {
	display: none;
}

.tab {
	float: left;
}

.tab>.tab-label {
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
	text-align: center;
	line-height: normal;
	display: block;
	overflow: hidden;
	height: 45px;
	font-size: 1.0625rem;
	line-height: 23px;
	box-sizing: border-box;
}

.tab>.tab-label .image {
	margin-right: 5px;
	display: inline-block;
}

.tab>[type=radio] {
	display: none;
}


.tab>p:first-child {
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
}

.tab>.tab-content {
	position: absolute;
	top: 44px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding: 20px;
	border: 1px solid #ccc;
	visibility: hidden;
	overflow: auto;
}

.tab>[type=radio]:checked ~ .tab-label {
	background: white;
	border-bottom: 1px solid white;
	z-index: 2;
}

.tab>[type=radio]:checked ~ .tab-label ~ .tab-content {
	z-index: 1;
	visibility: visible;
}

.tab-multiline .tab>.tab-label {
	white-space: pre;
	display: block;
	height: 50px;
}

.tab-multiline .tab>.tab-content {
	top: 49px;
}