.collapsed .collapsed-text {
	display: none;
}

.collapsed.closed {
	position: relative;
	display: block;
	height: 24px;
	background: white url('../../images/sourcecode/collapsed-bg.png') repeat-x;
	cursor: pointer;
	line-height: 24px;
}

.collapsed.closed:before {
	content: "";
	position: absolute;
	display: block;
	height: 16px;
	width: 16px;
	background: url('../../images/sourcecode/uncollapse.png') center center no-repeat;
	top: 4px;
	left: 4px;
}

.collapsed.closed .collapsed-text {
	display: inline-block;
	height: 24px;
	margin-left: 24px;
	font-size: 0.85em;
	vertical-align: middle;
	padding-left: 50px;
}

.collapsed.closed .collapsed-lines {
	display: none;
}

.collapsed.closed:hover {
	font-weight: bold;
}
.collapsed.closed:hover:before {
	background-size: 17px 17px;
}


