.source pre {
	font-size: 12px;
	overflow-x: auto;
	white-space: nowrap;
}

h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before,
a[name]:before {
	height: 0;
	margin-top: 0;
}

@media (min-width: 980px) {
  .navbar.affix {
    top: 50px;
  }
}