.navbar .nav {
	& > li:nth-child(2) {
		order: 99;
		font-size: 0;
	
		a {
			display: block;
			width: 32px;
			height: 32px;
			background: url(../img/GitHub-Mark-Light-64px.png) center center no-repeat;
			background-size: 32px 32px;
			padding-bottom: 0;
		}
	}
}

.navbar .navbar-brand {
	&::before {
		content: "";
		display: inline-block;
		background: url(../img/ogham-white-256x256.png) no-repeat left center;
		background-size: 30px 30px;
		width: 30px;
		height: 30px;
		vertical-align: -7px;
	}
}