<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inline background images</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="/resources/css/background-images.css" rel="stylesheet" />       <!--1-->
</head>
<body>
	<div class="header">                                                    <!--2-->
		Hello [[${name}]] !
	</div>
	<div class="content">                                                   <!--3-->
		content
	</div>
	<div class="footer">                                                    <!--4-->
		footer
	</div>
</body>
</html>